<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/app.js"></script>
</head>
<body>
    <header>
        <nav>
            <div id="logo" style="font-weight: bolder; font:bolder">Bobby's Bookings</div> |
            <a href="/">Home</a> |
            <a href="/property-listing/all">Property Listing</a> |
            <a href="/users/register">Register</a> |
            <a href="/users/login">Login</a>
        </nav>
        <br>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <a href="/footer/about">About</a> |
        <a href="/footer/explore">Explore</a> |
        <a href="/footer/terms">Terms and Policies</a> |
        <a href="/footer/help">Help</a> |
        <a href="/footer/social">Social Media</a>
    </footer>
</body>
</html>